<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    <main>
        <section>
            <h2>Who We Are</h2>
            <p>Welcome to our blog! We are passionate about sharing knowledge, ideas, and stories with the world. Our goal is to inspire, educate, and entertain our readers.</p>
        </section>
        <div class="about content">
            <p>lorem ipsum dolor </p>
            <p>lorem ipsum dolor </p>
            <p>lorem ipsum dolor </p>
        </div>

        
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>